section.summary_header {
	text-align: center;
}

section.summary_header h3 {
	font-size: 250%;
}


section.summary_details {
    display: flex;
    flex-direction: row;
    margin: 24px 128px;
}

/* Split the screen in half */
section.summary_details div.split {
  height: 80%;
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
section.summary_details div.left {
  left: 0;
}

/* Control the right side */
section.summary_details div.right {
  right: 0;
}

/* If you want the content centered horizontally and vertically */
section.summary_details div.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -30%);
  text-align: center;
}


section.summary_details table.details_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 150%;
}

section.summary_details table.details_table td {
  border: 1px solid #ddd;
  padding: 5px;
}

section.summary_details table.details_table tr:nth-child(even){background-color: #f2f2f2;}

section.summary_details table.details_table tr:hover {background-color: #ddd;}

section.summary_details table.details_table tr:last-child{
	color: #F9B34C;
	font-weight: bold;
}

button.select {
    margin: 12px;
	margin-left: 150px;
	
    border-color: transparent;
    border-radius: 24px;
    outline: none;
    font-family: 'Catamaran-Thin';
    font-size: 18px;
    padding: 0 32px;
    background-color: #F9B34C;
    color: white;
    letter-spacing: 1px;
}

button.select:hover {
    filter: brightness(90%);
}

section.summary_confirm {
	text-align: center;
	display: flex;
    flex-direction: row;
    margin: 30% 35%;
}

button.confirm {
    margin: 12px;
	margin-left: 150px;
	
    border-color: transparent;
    border-radius: 24px;
    outline: none;
    font-family: 'Catamaran-Thin';
    font-size: 18px;
    padding: 0 32px;
    background-color: #391D5F;
    color: white;
    letter-spacing: 1px;
}

button.confirm:hover {
    filter: brightness(80%);
}

section.summary_details div.centered hr{
	border-top: 1px solid;
	margin: 0 -85px 0 85px
}

section.summary_details div.centered div.selected_car_header{
	margin: 0 -85px -24px 85px;
}

section.summary_details article.selected_car {
    margin-left: 20%;
}

article.selected_car div.car {
    display: flex;
}

article.selected_car div.car div.img-car {
    padding: 24px;
}

article.selected_car div.car div.img-car img {
    height: 100%;
    width: auto;
}

article.selected_car div.car div.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

article.selected_car div.car div.info h3 {
    margin: 0;
    margin-bottom: 12px;
}

article.selected_car div.car div.info-details {
    display: flex;
    flex-direction: row;
}

article.selected_car div.car div.info-details div.info-basic {
    margin-right: 64px;
}

article.selected_car div.car div.info-details div.info-luggage {
    text-align: center;
}

article.selected_car div.car div.icon-with-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
}

article.selected_car div.car p {
    margin: 0;
}

article.selected_car div.car div.icon-with-text p {
    margin: 0;
    margin-left: 12px;
    font-size: 16px;
    font-weight: bold;
	white-space: nowrap;
}

